/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* WRAPPER TO STICK FOOTER */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* BODY */
body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #d7e9ff, #eff5ff);
    
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('background.png');
    background-size: cover;
    background-position: center;

}

/* HEADER */
header {
    background: #41A67E;
    color: white;
    padding: 25px 0;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

/* MAIN CONTAINER */
.container {
    flex: 1; /* Takes remaining space so footer sticks bottom */
    width: 90%;
    max-width: 900px;
    margin: 25px auto;
}

/* CARDS */
.card {
    background: white;
    padding: 20px;
    border-radius: 18px;
    margin-bottom: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.card h2 {
    margin-bottom: 15px;
    font-size: 22px;
    color:  #255F38;
}

/* GRID FOR INPUTS */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 12px;
}

/* INPUTS */
input, select, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 2px solid #255F38;
    font-size: 15px;
    outline: none;
}

textarea {
    margin-top: 12px;
    height: 100px;
}

/* BUTTONS */
.button-row {
    text-align: center;
    margin-top: 18px;
}

.small-btn {
    padding: 10px 26px;
   color: #255F38;
    border: none;
    border-radius: 6px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.small-btn:hover {
    background:  rgb(189, 215, 235);
}

/* RESULT BOX */
.result-box {
    background: #ffffff;
    padding: 18px;
    border-radius: 18px;
    border-left: 6px solid  #255F38;
    box-shadow: 0 4px 12px rgba(0,0,0,0.07);
    margin-bottom: 20px;
}

.result-box h3 {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 700;
}

#resultText {
    font-size: 17px;
    font-weight: bold;
    color: #333;
}

/* FOOTER */
footer {
    background:  #41A67E;
    color: white;
    text-align: center;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.footer-logo {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: white;
    padding: 5px;
}

.footer-text p {
    margin: 3px 0;
    font-size: 14px;
}
